{% extends 'base.html' %}
{% load static %}
{% block title %}Select a Car{% endblock %}

{% block content %}
    {% block extra_css %} 
         <link rel="stylesheet" href="{% static 'src/selection.css' %}">
    {% endblock %}
<h1>Select a Car</h1>
<div class="car-grid">
  {% for car in cars %}
    <div class="car-card">
      {% if car.image %}
        <img src="{{ car.image.url }}" alt="{{ car.make }}">
      {% else %}
        <div class="placeholder">No Image</div>
      {% endif %}
      <h2>{{ car.make }}</h2>
      <a href="{% url 'spare_parts' car.id %}" class="view-btn">View Spare Parts</a>
    </div>
  {% endfor %}
</div>
{% endblock %}