{% extends 'base.html' %}
{% load static %}
{% block title %}Spare Parts for {{ car.make }}{% endblock %}

{% block content %}
    {% block extra_css %} 
         <link rel="stylesheet" href="{% static 'src/selection.css' %}">
    {% endblock %}
<h1>Spare Parts for {{ car.make }}</h1>
<div class="parts-grid">
  {% for part in spare_parts %}
    <div class="part-card">
      {% if part.image %}
        <img src="{{ part.image.url }}" alt="{{ part.name }}">
      {% else %}
        <div class="placeholder">No Image</div>
      {% endif %}
      <h3>{{ part.name }}</h3>
      <p>{{ part.description }}</p>
      <p class="price">Price: ${{ part.price }}</p>
    </div>
  {% empty %}
    <p>No spare parts available for this car.</p>
  {% endfor %}
</div>
{% endblock %}