{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitamu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
   
</head>
<body class="flex flex-col min-h-screen">

    <!-- Navbar -->
   {% include 'navbar.html'%}

    <!-- Page Content -->
    <main class="flex-grow container mx-auto px-4 py-6">
        {% block content %}


        
        {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'footer.html'%}

    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>

