<header>
  <div class="topbar">
    <!-- Logo -->
    <div>
      <a href="{% url 'home' %}">Logo</a>
    </div>

    <!-- Menu Items -->
    <nav>
      <a href="{% url 'select-car' %}">Vehicle selector</a>
      <a href="#">Shop</a>
      <a href="#">Search</a>
      <a href="#">Help</a>
    </nav>

    <!-- Login/Signup -->
    <div>
      {% if user.is_authenticated %}
      <!-- Shows the profile when user is logged in -->

       {% comment %} <div class="side-profile"> {% endcomment %}
                
                  <a href="{% url 'edit' %}">
                    <i class="fa-solid fa-user"></i>
                  </a>

                  <a href="{% url 'logout' %}">
                    <button type="button" style="color:white; cursor:pointer">
                       logout
                    </button>
                  </a>
                

                <!-- Show logout button when user is logged in -->
                {% comment %} <form action="{% url 'logout' %}" method="post" style="display:inline;">
                  {% csrf_token %}
                 <button type="submit">Logout</button>
                </form> {% endcomment %}
       {% comment %} </div> {% endcomment %}
       
      {% else %}
        <!-- Show login and signup buttons when user is NOT logged in -->
        <button>
          <a href="{% url 'login' %}">Login</a>
        </button>
        <button>
          <a href="{% url 'registerUser' %}">Signup</a>
        </button>
      {% endif %}
    </div>
  </div>
</header>
