<header>
  <div class="topbar">
    <!-- Logo -->
    <div>
      <a href="#">Logo</a>
    </div>

    <!-- Menu Items -->
    <nav>
      <a href="#">Vehicle selector</a>
      <a href="#">Shop</a>
      <a href="#">Search</a>
      <a href="#">Help</a>
    </nav>

    <!-- Login/Signup -->
    <div>
      <button>
        <a href="{% url 'login' %}">Login</a>
      </button>
      <button>
        <a href="{% url 'registerUser' %}">Signup</a>
      </button>
      
      
    </div>
  </div>
</header>
